.caja-1 {
  width: 1%; }

.caja-2 {
  width: 2%; }

.caja-3 {
  width: 3%; }

.caja-4 {
  width: 4%; }

.caja-5 {
  width: 5%; }

.caja-6 {
  width: 6%; }

.caja-7 {
  width: 7%; }

.caja-8 {
  width: 8%; }

.caja-9 {
  width: 9%; }

.caja-10 {
  width: 10%; }

.caja-11 {
  width: 11%; }

.caja-12 {
  width: 12%; }

.caja-13 {
  width: 13%; }

.caja-14 {
  width: 14%; }

.caja-15 {
  width: 15%; }

.caja-16 {
  width: 16%; }

.caja-17 {
  width: 17%; }

.caja-18 {
  width: 18%; }

.caja-19 {
  width: 19%; }

.caja-20 {
  width: 20%; }

.caja-21 {
  width: 21%; }

.caja-22 {
  width: 22%; }

.caja-23 {
  width: 23%; }

.caja-24 {
  width: 24%; }

.caja-25 {
  width: 25%; }

.caja-26 {
  width: 26%; }

.caja-27 {
  width: 27%; }

.caja-28 {
  width: 28%; }

.caja-29 {
  width: 29%; }

.caja-30 {
  width: 30%; }

.caja-31 {
  width: 31%; }

.caja-32 {
  width: 32%; }

.caja-33 {
  width: 33%; }

.caja-34 {
  width: 34%; }

.caja-35 {
  width: 35%; }

.caja-36 {
  width: 36%; }

.caja-37 {
  width: 37%; }

.caja-38 {
  width: 38%; }

.caja-39 {
  width: 39%; }

.caja-40 {
  width: 40%; }

.caja-41 {
  width: 41%; }

.caja-42 {
  width: 42%; }

.caja-43 {
  width: 43%; }

.caja-44 {
  width: 44%; }

.caja-45 {
  width: 45%; }

.caja-46 {
  width: 46%; }

.caja-47 {
  width: 47%; }

.caja-48 {
  width: 48%; }

.caja-49 {
  width: 49%; }

.caja-50 {
  width: 50%; }

.caja-51 {
  width: 51%; }

.caja-52 {
  width: 52%; }

.caja-53 {
  width: 53%; }

.caja-54 {
  width: 54%; }

.caja-55 {
  width: 55%; }

.caja-56 {
  width: 56%; }

.caja-57 {
  width: 57%; }

.caja-58 {
  width: 58%; }

.caja-59 {
  width: 59%; }

.caja-60 {
  width: 60%; }

.caja-61 {
  width: 61%; }

.caja-62 {
  width: 62%; }

.caja-63 {
  width: 63%; }

.caja-64 {
  width: 64%; }

.caja-65 {
  width: 65%; }

.caja-66 {
  width: 66%; }

.caja-67 {
  width: 67%; }

.caja-68 {
  width: 68%; }

.caja-69 {
  width: 69%; }

.caja-70 {
  width: 70%; }

.caja-71 {
  width: 71%; }

.caja-72 {
  width: 72%; }

.caja-73 {
  width: 73%; }

.caja-74 {
  width: 74%; }

.caja-75 {
  width: 75%; }

.caja-76 {
  width: 76%; }

.caja-77 {
  width: 77%; }

.caja-78 {
  width: 78%; }

.caja-79 {
  width: 79%; }

.caja-80 {
  width: 80%; }

.caja-81 {
  width: 81%; }

.caja-82 {
  width: 82%; }

.caja-83 {
  width: 83%; }

.caja-84 {
  width: 84%; }

.caja-85 {
  width: 85%; }

.caja-86 {
  width: 86%; }

.caja-87 {
  width: 87%; }

.caja-88 {
  width: 88%; }

.caja-89 {
  width: 89%; }

.caja-90 {
  width: 90%; }

.caja-91 {
  width: 91%; }

.caja-92 {
  width: 92%; }

.caja-93 {
  width: 93%; }

.caja-94 {
  width: 94%; }

.caja-95 {
  width: 95%; }

.caja-96 {
  width: 96%; }

.caja-97 {
  width: 97%; }

.caja-98 {
  width: 98%; }

.caja-99 {
  width: 99%; }

.caja-100 {
  width: 100%; }

.button-blue {
  background: blue; }

.button-green {
  background: green; }

.button-red {
  background: red; }

.button-base {
  background-color: #fff; }

.button-primary {
  background-color: #333; }

.button-featured {
  background-color: #c6538c; }

.button-back {
  background-color: #f9f9f9; }
