// General

@import "variables";

body {
	font-family: $base-font;
	color: $primary-color;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headgins-font;
	margin: 0 0 20px;
	line-height: 1;
	font-weight: 400;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 26px;
}

p {
	margin: 0 0 30px;
}

a {
	text-decoration: none;
	color: $featured-color;
	font-weight: 400;
}

span {
	font-weight: 400;
}

ul {
	list-style: none;
}

hr {
	width: 100px;
	border: 1px solid $featured-color;
	border-radius: 5px;
	margin: 20px auto;
}
