// Contact 

@import "variables";
@import "mixins";

.contact {
	@include section;
	background-color: $back-color;
	.wrap {
		@include wrap;
		max-width: 700px;
		h2 {
			text-align: center;
		}
		form .wrap {
			@include flex;
			justify-content: space-between;
		}
		input[type="text"],
		input[type="email"],
		input[type="url"],
		input[type="submit"] {
			color: $secondary-color;
			@include font-size(16);
			margin-bottom: 30px;
		}
		
		input[type="text"],
		input[type="email"],
		input[type="url"] {
			flex-basis: calc(33% - 20px);
			border-radius: 5px;
		}
		
		input[type="submit"] {
			background-color: $featured-color;
			color: $base-color;
			border-radius: 50px;
			@include font-size(18);
			font-weight: 400;
			margin-bottom: 0;
		}
		
		textarea {
			height: 200px;
			@include font-size(16);
			color:  $back-color;
			margin-bottom: 30px;
			vertical-align: baseline;
			border-radius: 5px;
		}
		
		input,
		seleect,
		textarea {
			width: 100%;
			padding: 15px;
			box-sizing: border-box;
			border: 1px solid $featured-color;
		}
		
		input[type="checkbox"] {
			width: auto;
			margin-right: 10px;
			margin-bottom: 20px;
		}
		
		.legal-text {
			@include font-size(14);
			color: $secondary-color;
		}
	}
}