// Mixins

// No Paramétricos

@mixin section {
	max-width: 100%;
	padding: 60px 3%;
}

@mixin wrap {
	max-width: 1200px;
	margin: 0 auto;
}

@mixin flex {
	display: flex;
	flex-flow: row wrap;
}

// Mixins Paramétricos

@mixin font-size($size) {
	$rem: $size / 16;
	font-size: $size * 1px;
	font-size: $rem * 1rem;
}

@mixin box($flex-basis, $color, $text-align, $z-index) {
	flex-basis: $flex-basis;
	color: $color;
	text-align: $text-align;
	z-index: $z-index;
}