// Contact 

.contact {
	max-width: 100%;
	padding: 60px 3%;
	background-color: #f9f9f9;
}

.contact .wrap {
	max-width: 700px;
	margin: 0 auto;
}

.contact .wrap h2 {
	text-align: center;
}

.contact .wrap form .wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="submit"] {
	color: #aaa;
	font-size: 16px;
	margin-bottom: 30px;
}

input[type="text"],
input[type="email"],
input[type="url"] {
	flex-basis: calc(33% - 20px);
	border-radius: 5px;
}

input[type="submit"] {
	background-color: #C6538C;
	color: #fff;
	border-radius: 50px;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 0;
}

textarea {
	height: 200px;
	font-size: 16px;
	color: #aaa;
	margin-bottom: 30px;
	vertical-align: baseline;
	border-radius: 5px;
}

input,
seleect,
textarea {
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	border: 1px solid #C6538C;
}

input[type="checkbox"] {
	width: auto;
	margin-right: 10px;
	margin-bottom: 20px;
}

.legal-text {
	font-size: 14px;
	color: #aaa;
}
