// Variables

$base-font: 'Source Sans Pro', sans-serif;
$headgins-font: 'Source Serif Pro', serif;

$base-color: #fff;
$primary-color: #333;
$featured-color: #c6538c;
$back-color: #f9f9f9;
$secondary-color: #aaa;